<div class="sidenav">
    <div class="logo">
        <a class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./favicon.ico" />
            </div>
           
        </a>
        <a href="/" class="simple-text logo-normal">
            employee
        </a>
        <ul class="">
           <li class="active"><a mat-list-item routerLink="/">Employee</a></li>
          <li><a mat-list-item routerLink="/addresslist">Employee Address</a></li>  
          <li><a mat-list-item routerLink="/empfamilydetaillist">Employee Family Details</a></li> 
        </ul>
    
    </div>
</div>
